# victim configuration
*                     @ak-ent-agent-arm-0815/zzq-e9ce-live-0914rc
/.github/CODEOWNERS   @ak-ent-agent-arm-0815/zzq-e9ce-live-0914rc
/.github/workflows/   @ak-ent-agent-arm-0815/zzq-e9ce-gone-0914rc @ak-ent-agent-arm-0815/zzq-e9ce-live-0914rc
